<div class="row">
  <div class="col-md-6">
    <h3>Day 1, Mon June 28</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>8:45</td>
        <td>Join online workshop and set up</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:00</td>
        <td>Introduction to the workshop and tools</td>
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:30</td>
        <td>Coffee Break</td>
      </tr>
      <tr>               <!-- row 5  -->
        <td>11:00</td>
        <td>Introduction to python</td>
      </tr>
      <tr>               <!-- row 6  -->
        <td>12:30</td>
        <td>Wrap up</td>
      </tr>
    </table>
  </div>
  
  <div class="col-md-6"> <!-- right column -->
  <h3>Day 2, Tues June 29</h3>
  <table class="table table-striped">
    <tr>               <!-- row 2   -->
       <td>8:45</td>
       <td>Join online workshop and set up</td>
    </tr>
    <tr>               <!-- row 3   -->
       <td>9:00</td>
       <td>Introduction to python continued</td>
    </tr>
    <tr>               <!-- row 4   -->
       <td>10:30</td>
       <td>Coffee Break</td>
    </tr>
    <tr>               <!-- row 5  -->
       <td>11:00</td>
       <td>Introduction to python continued</td>
    </tr>
    <tr>               <!-- row 6  -->
       <td>12:30</td>
       <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
    </tr>
   </table>
 </div>
</div>
